<div class="special-offers">
  <div class="title_container">
    <div class="title">
      <span class="dash">&mdash;</span>
      <span>{{ section.settings.title_1st_half }}</span>
      <h1>{{ section.settings.title_2nd_half }}</h1>
    </div>
  </div>
  <div class="content">
    <div class="grid-container">
      <div class="Box-3">
        <img src="{{ section.settings.box_3_background_image | img_url: 'master' }}" alt="Box 3" />
      </div>
      <div class="Box-1">
        <img src="{{ section.settings.box_1_background_image | img_url: 'master' }}" alt="Box 1" />
        <div class="label-content">
          <p class="box-label">{{ section.settings.box_1_label }}</p>
          <a href="#">
            <button>{{ section.settings.box_1_button_text }}</button>            
          </a>
        </div>
      </div>
      <div class="Box-2">
        <div class="shipping_container">
          <div class="cell_1">
            <div class="cell_content">
              <img src="{{ section.settings.shipping_icon | img_url: 'master' }}" alt="shipping icon">
              <p class="title">{{ section.settings.shipping_title }}</p>
              <p class="subtitle">{{ section.settings.shipping_subtitle }}</p>              
            </div>
          </div>
          <div class="cell_2">
            <div class="cell_content">
              <img src="{{ section.settings.returns_icon | img_url: 'master' }}" alt="returns icon">
              <p class="title">{{ section.settings.returns_title }}</p>
              <p class="subtitle">{{ section.settings.returns_subtitle }}</p>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Special Offers",
    "settings": [
      {
        "id": "title_1st_half",
        "type": "text",
        "label": "Section Title",
        "default": "Special"
      },
      {
        "id": "title_2nd_half",
        "type": "text",
        "label": "Section Title",
        "default": "Offers"
      },
      {
        "id": "box_1_background_image",
        "type": "image_picker",
        "label": "Box 1 Background"
      },
      {
        "id": "box_1_label",
        "type": "text",
        "label": "Box 1 Label",
        "default": "Fusce sit amet est quam dolor sit ametis"
      },
      {
        "id": "box_1_button_text",
        "type": "text",
        "label": "Box 1 Button Text",
        "default": "Learn More"
      },
      {
        "id": "box_3_background_image",
        "type": "image_picker",
        "label": "Box 3 Background"
      },
      {
        "id": "shipping_icon",
        "type": "image_picker",
        "label": "Shipping Icon"
      },
      {
        "id": "shipping_title",
        "type": "text",
        "label": "Shipping Title",
        "default": "free shipping"
      },
      {
        "id": "shipping_subtitle",
        "type": "text",
        "label": "Shipping Subtitle",
        "default": "worldwide"
      },
      {
        "id": "returns_icon",
        "type": "image_picker",
        "label": "Returns Icon"
      },
      {
        "id": "returns_title",
        "type": "text",
        "label": "Returns Title",
        "default": "14 days free return"
      },
      {
        "id": "returns_subtitle",
        "type": "text",
        "label": "Returns Subtitle",
        "default": "worldwide"
      }
    ],
    "presets": [
      {
        "name": "Special Offers",
        "category": "Promotional"
      }
    ]    
  }

{% endschema %}